nodered/data/flows.json
[
    {
        "id": "2fe43d6eec7777e1",
        "type": "tab",
        "label": "Envio",
        "disabled": false,
        "info": "Envio",
        "env": []
    },
    {
        "id": "b5eac41902843c3f",
        "type": "tab",
        "label": "Lectura",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c44c13ea6274c19",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "nodered-hvac",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d9b985e44dd9a9b",
        "type": "inject",
        "z": "2fe43d6eec7777e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "18c778b8175b80ea"
            ]
        ]
    },
    {
        "id": "18c778b8175b80ea",
        "type": "function",
        "z": "2fe43d6eec7777e1",
        "name": "function 1",
        "func": "msg.topic = \"hvac/plant01/AHU-01/temperature_supply\";\n\nmsg.payload = {\n  value: 22 + Math.random(),\n  unit: \"C\",\n  quality: \"GOOD\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "0509d68123adfa6a"
            ]
        ]
    },
    {
        "id": "0509d68123adfa6a",
        "type": "mqtt out",
        "z": "2fe43d6eec7777e1",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8c44c13ea6274c19",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "b03dabfa790c26cd",
        "type": "mqtt in",
        "z": "b5eac41902843c3f",
        "name": "",
        "topic": "hvac/plant01/AHU-01/temperature_supply",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8c44c13ea6274c19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "a14c8034c3c75305"
            ]
        ]
    },
    {
        "id": "a14c8034c3c75305",
        "type": "debug",
        "z": "b5eac41902843c3f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 180,
        "wires": []
    }
]